<div class="container">
  <h1>PopCopy</h1>
  <p>This is a simple helper function that adds a 'click' event listener to a DOM element,<br> 
    allowing it to copy any specified text to the user's clipboard. Additionally,<br> 
    it supports an optional callback function, which can b</p>

  <div id="elementId" class="iconcircle" (click)="onCopyClick()">
      <img src="assets/copy.png" class="shadowicon" (click)="onCopyClick()">
  </div>
  <div class="encryption-container">
    <textarea class="example" id="ul-encrypted" cols="30" rows="10" ></textarea>
    <img src="assets/arrow.png" alt="">
    <textarea class="example" id="ul-decrypted" cols="30" rows="10" ></textarea>
  </div>
</div>