<div class="container">
  <h1>PopCopy</h1>
  <p>This is a simple helper function that adds a 'click' event listener to a DOM element,<br>
    allowing it to copy any specified text to the user's clipboard. Additionally,<br>
    it supports an optional callback function, which can b</p>


  <div class="encryption-container">
    <textarea class="example" [(ngModel)]="storyParts" id="ul-encrypted" cols="30" rows="10"></textarea>
    <button class="button" (click)="onExtractLinks()">Convert</button>

  </div>

  <div class="encryption-container">
    <div class="example">
      <div class="loader" *ngIf="extractingLinkLoader"></div>
      <ul>
        <li *ngFor="let item of extractedLinks">{{ 'Season ' + item.seasonNo + ' - Part' + item.partNo}}</li>
      </ul>
    </div>
    <div class="start-btn">
      <button class="button" [disabled]="readingloader" (click)="startReading()">Start</button>
    </div>
    <div class="example">
      <img src="assets/copy.png" *ngIf="!readingloader" class="copypaste" (click)="onCopyClick()">
      <div class="loader" *ngIf="readingloader"></div>
    
    </div>
  </div>
</div>